{% extends 'main_tamplate.html' %} {% load static %}
{% block title %} Toy-Dog  {% endblock %}

{% block content %}
    <section id="galeria_2" class="container">
        <div class="text-center pt-5">
            <h1><b><i>Articulos para Mascotas</i></b></h1>
            <h3>Mundo Perruno</h3>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/cepillo_quitapelo.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">CEPILLO QUITA PELOS</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$3.600</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/casaparaperros.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">CASA PARA PERROS</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$45.995</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/arnesdecuerpo.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">ARNES DE CUERPO PARA PERROS</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$4.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/juguete_lanzapelota.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman"> JUEGUETE LANZA PELOTA CON RECOMPENSA</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$30.550</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/shampoodeperro.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">SHAMPOO PARA PERROS 260 ML</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$5.550</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/perros/cama_perro.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">CAMA DE MASCOTA CON COJÍN XL</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$30.590</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>

        </div>

    </section>
    <!--seccion mascotas gato-->
    <section id="galeria_2" class="container">
        <div class="text-center pt-5">
            <h3>Mundo Gatastico</h3>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/gatos/rascador_gato.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">RASCADOR Y MASAJEADOR PARA GATOS</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$9.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/gatos/transportador_gato.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">TRANSPORTADOR GATO</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$15.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static '/img/galeria/gatos/arena_sanitaria.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">ARENA SANITARIA SACO 25 KG</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$15.390</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class= "col-lg-4 col-md-6 col-sm-12">
                <img src= "{% static '/img/galeria/gatos/dispensador_agua.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">DISPENSADOR AUTOMÁTICO DE AGUA 1.8L PARA GATO</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$23.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src= "{% static '/img/galeria/gatos/torre.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">TORRE RASCADOR GATOS</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$28.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src= "{% static '/img/galeria/gatos/arnes.png' %}" alt="galeria imagen">
                <div class="pie">
                    <h6>
                        <p>
                            <FONT FACE="times new roman">ARNÉS ANTI-ESCAPE GATO</FONT>
                        </p>
                    </h6>
                    <h5><b>
                            <p>
                                <FONT FACE="times new roman">$8.990</FONT>
                            </p>
                        </b></h5>
                </div>
            </div>

        </div>

    </section>
    {% endblock %}