{% extends 'main_tamplate.html' %} {% load static %}
{% block title %} Toy-Dog {% endblock %}

{% block content %}
<div style = "width: 20%; margin: 0 auto;">
  <h1>Tienda Toy-Dog</h1>
</div>
<div style = "width: 50%; margin: 0 auto;">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Fecha Actual
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>{{ fecha }}</strong> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Valor Actual Dolar
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>$ {{ dolar }}</strong> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Unidad de Fomento
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>UF {{ uf }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div style ="width: 80%; height: auto; margin: auto;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <!--div de botones carrusel-->
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
    aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
    aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
    aria-label="Slide 3"></button>
</div>
<!--div de imagenes carrusel-->
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src= "{% static '/img/carrusel/perroCorazon.png' %}" class="d-block w-100" widht="100 px" height="600 px" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
    </div>
</div>
    <div class="carousel-item">
    <img src = "{% static '/img/carrusel/correa_entrenamiento.png' %}" class="d-block w-100" widht="100 px" height="600 px" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
    </div>
</div>
    <div class = "carousel-item">
        <img src = "{% static '/img/carrusel/plato.png' %}" class="d-block w-100" widht="100 px" height="600 px" alt="...">
        <div class = "carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
        </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previo</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Siguiente</span>
</button>
</div>

<script type="text/javascript">
var carrusel= document.querySelector('#carouselExampleCaptions')
var carousel = new bootstrap.Carousel(carrusel, 
{
  interval: 2000,
  wrap: true
})
</script>
<!--CONTENIDO PAGINA INICIO-->
<div style ="width: 60%; height: 10% auto; margin: auto;" auto;>
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cargo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juan</td>
      <td>Beef</td>
      <td>Gerente de local</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cristian</td>
      <td>Trump</td>
      <td>Vendedor</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Felipe</td>
      <td>Lira</td>
      <td>Clasificador de cortes</td>
    </tr>
  </tbody>
</table>
</div>  
{% endblock %}

