{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <!-- <link rel="stylesheet" href="estilo.css">-->
    </head>
    <body>
      <div class = "form-group row">
        <div class = "col-sm-12">
          <h1> Inicio Sesión </h1>
        </div>
      </div>
      <div class = "container">
        <form id = "frm-login" method = "POST" action = "/login/">{% csrf_token %}
            <!-- username input -->
            <div class="form-group row">
              <div class = "col-sm-10">
                <input type="text" id="txt-username" class="form-control" name = "username"/>
                <label class="form-label" for="txt-username"> Nombre de Usuario</label>
              </div>
            </div>
          
            <!-- Password input -->
            <div class="form-group row">
              <div class = "col-sm-10">    
                <input type="password" id="txt-password" class="form-control" name = "password" />
                <label class="form-label" for="txt-password"> Contraseña </label>
              </div>
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>
          
              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="#!">Register</a></p>
              <p>or sign up with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
        </div>
        <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    </body>
</html>