{% extends 'main_tamplate.html' %}
{% load static %}
{% block title %}Toy-Dog Mantenedor Usuario{% endblock %}
{% block content %}
{% if perms.toy_dog.view_usuario %}
    <div style = "width: 85%; margin: 0 auto;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Run</th>
                    <th scope="col">Dv</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuario %}
                <tr>
                    <th scope="row">{{ u.codigo_2 }}</th>
                    <td>{{ u.run }}</td>
                    <td>{{ u.dv }}</td>
                    <td>{{ u.nombres }}</td>
                    <td>{{ u.apellido_paterno }}</td>
                    <td>{{ u.apellido_materno }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.telefono }}</td>
                    {% if perms.toy_dog.delete_usuario %}
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#mdl-{{ u.codigo_2 }}"> ELIMINAR </button>
                        <div id = "mdl-{{ u.codigo_2 }}" class = "modal" tabindex = "-1">
                            <div class = "modal-dialog">
                                <div class = "modal-content">
                                    <div class = "modal-header">
                                        <h5 class = "modal-title">Advertencia</h5>
                                        <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label="Close"></button>
                                    </div>
                                    <div class = "modal-body">
                                        <p>
                                            Se eliminara el usuario seleccionado. ¿Desea Continuar?.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal"> Cancelar </button>
                                        <form method = "GET" action = "">
                                            <input name = "codigo_2" value = "{{ u.codigo_2 }}" type = "hidden" />
                                            <button type = "submit" class = "btn btn-primary" > Aceptar </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                    {% if perms.toy_dog.change_usuario %}
                    <td>
                        <button type = "button" class = "btn btn-primary" data-bs-toggle = "modal"
                                data-bs-target = "#mdl-update-{{ u.codigo_2 }}"> ACTUALIZAR </button>
                        <div id = "mdl-update-{{ u.codigo_2 }}" class = "modal" tabindex="-1">
                            <div class = "modal-dialog">
                                <div class = "modal-content">
                                    <div class = "modal-header">
                                        <h5 class = "modal-title"> Actualizar Usuario </h5>
                                        <button type = "button" class = "btn-close" data-bs-dismiss = "modal"
                                                aria-label = "Close"></button>
                                    </div>
                                    <div class = "modal-body">
                                        <form id = "frm-usuario" method = "POST" action = ""> {% csrf_token %}
                                            <div class = "container" style = "max-width:700px !important">
                                                <input type = "hidden"  id = "txt-id" name = "codigo_2" value = "{{u.codigo_2}}">
                                              <div class = "form-group row">
                                                <div class = "col-sm-9">
                                                  <label for = "txt-run" class = "form-label"> RUN </label>
                                                  <input id = "txt-run" name = "run" value = "{{u.run}}" disabled class = "form-control" placeholder = "RUN" />
                                                </div>
                                                <div class = "col-sm-3">
                                                  <label for = "txt-dv" class = "form-label"> DV </label>
                                                  <input id = "txt-dv" name = "dv" value = "{{u.dv}}" disabled class = "form-control" placeholder = "DV" />
                                                </div>
                                              </div>
                                              <div class = "form-group row">
                                                <div class = "col-sm-6">
                                                  <label for = "txt-nombres" class = "form-label"> NOMBRES </label>
                                                  <input id = "txt-nombres" name = "nombres" value = "{{u.nombres}}" class = "form-control" placeholder = "NOMBRES" />        
                                                </div>
                                                <div class="col-sm-6">
                                                  <label for = "txt-apellido-paterno" class = "form-label"> APELLIDO PATERNO </label>
                                                  <input id = "txt-apellido-paterno" name = "apellido-paterno" value = "{{u.apellido_paterno}}" class = "form-control" placeholder = "APELLIDO PATERNO" />        
                                                </div>   
                                              </div>
                                              <div class = "form-group row">
                                                <div class = "col-sm-6">
                                                  <label for = "txt-apellido-materno" class = "form-label"> APELLIDO MATERNO </label>
                                                  <input id = "txt-apellido-materno" name = "apellido-materno" value = "{{u.apellido_materno}}" class = "form-control" placeholder = "APELLIDO MATERNO" />        
                                                </div> 
                                              </div>
                                              <div class = "form-group row">
                                                <div class = "col-sm-6">
                                                  <label for = "txt-email" class = "form-label"> EMAIL </label>
                                                  <input id = "txt-email" name = "email" value = "{{u.email}}" class = "form-control" placeholder = "EMAIL" />        
                                                </div>       
                                                <div class="col-sm-6">
                                                  <label for = "txt-telefono" class = "form-label"> TELÉFONO </label>
                                                  <input id = "txt-telefono" name = "telefono" value = "{{u.telefono}}" class = "form-control" placeholder = "TELÉFONO" />        
                                                </div>
                                              <div class = "form-group row">        
                                                  <button type = "submit" style = "margin-top: 15px;" 
                                                    class = " col-sm-3 btn btn-primary"> ENVIAR </button>
                                              </div>         
                                            </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
    {% endif %}
{% endblock %}