{% extends 'main_tamplate.html' %}
{% load static %}
{% block title %}Toy-Dog Mantenedor Contacto{% endblock %}
{% block content %}
{% if perms.toy_dog.view_contacto %}
    <div style = "width: 85%; margin: 0 auto;">
        <table class = "table">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Run</th>
                    <th scope="col">Dv</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Asunto</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contactos %}
                    <tr>
                        <th scope="row">{{ c.codigo }}</th>
                        <td>{{ c.run }}</td>
                        <td>{{ c.dv }}</td>
                        <td>{{ c.nombres }}</td>
                        <td>{{ c.apellido_paterno }}</td>
                        <td>{{ c.apellido_materno }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.asunto }}</td>
                        {% if perms.toy_dog.delete_contacto %}
                        <td>
                          <button type = "button" class = "btn btn-danger" data-bs-toggle = "modal" data-bs-target = "#mdl-{{ c.codigo }}"> ELIMINAR </button>
                            <div id = "mdl-{{ c.codigo }}" class = "modal" tabindex = "-1">
                                <div class = "modal-dialog">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <h5 class = "modal-title"> Advertencia </h5>
                                            <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
                                        </div>
                                        <div class = "modal-body">
                                            <p>
                                                Si elimina no podra deshacer los cambios. ¿Desea Continuar?.
                                            </p>
                                        </div>
                                        <div class = "modal-footer">
                                            <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal"> Cancelar </button>
                                            <form method = "GET" action = "">
                                                <input name = "codigo" value = "{{ c.codigo }}" type = "hidden" />
                                                <button type = "submit" class = "btn btn-primary"> Aceptar </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if perms.toy_dog.change_contacto %}
                        <td>
                            <button type = "button" class = "btn btn-primary" data-bs-toggle = "modal" data-bs-target = "#mdl-update-{{ c.codigo }}"> ACTUALIZAR </button>
                            <div id = "mdl-update-{{ c.codigo }}" class = "modal" tabindex = "-1">
                                <div class = "modal-dialog">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <h5 class = "modal-title"> Actualizar Registro </h5>
                                            <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
                                        </div>
                                        <div class = "modal-body">
                                            <form id = "frm-contacto" method = "POST" action = ""> {% csrf_token %}
                                                <div class = "container" style = "max-width:700px !important">
                                                    <input type = "hidden"  id = "txt-id" name = "codigo" value = "{{c.codigo}}">
                                                  <div class = "form-group row">
                                                    <div class = "col-sm-9">
                                                      <label for = "txt-run" class = "form-label"> RUN </label>
                                                      <input id = "txt-run" name = "run" value = "{{c.run}}" disabled class = "form-control" placeholder = "RUN" />
                                                    </div>
                                                    <div class = "col-sm-3">
                                                      <label for = "txt-dv" class = "form-label"> DV </label>
                                                      <input id = "txt-dv" name = "dv" value = "{{c.dv}}" disabled class = "form-control" placeholder = "DV" />
                                                    </div>
                                                  </div>
                                                  <div class = "form-group row">
                                                    <div class = "col-sm-6">
                                                      <label for = "txt-nombres" class = "form-label"> NOMBRES </label>
                                                      <input id="txt-nombres" name = "nombres" value = "{{c.nombres}}" class = "form-control" placeholder = "NOMBRES" />        
                                                    </div>
                                                    <div class="col-sm-6">
                                                      <label for="txt-apellido-paterno" class="form-label">APELLIDO PATERNO</label>
                                                      <input id = "txt-apellido-paterno" name = "apellido-paterno" value = "{{c.apellido_paterno}}" class = "form-control" placeholder = "APELLIDO PATERNO" />        
                                                    </div>   
                                                  </div>
                                                  <div class = "form-group row">
                                                    <div class = "col-sm-6">
                                                      <label for = "txt-apellido-materno" class = "form-label"> APELLIDO MATERNO </label>
                                                      <input id = "txt-apellido-materno" name = "apellido-materno" value = "{{c.apellido_materno}}" class = "form-control" placeholder = "APELLIDO MATERNO" />        
                                                    </div> 
                                                  </div>
                                                  <div class = "form-group row">
                                                    <div class="col-sm-6">
                                                      <label for = "txt-email" class = "form-label"> EMAIL </label>
                                                      <input id = "txt-email" name = "email" value = "{{c.email}}" class = "form-control" placeholder = "EMAIL" />        
                                                    </div>       
                                                    <div class = "col-sm-6">
                                                      <label for = "txt-telefono" class = "form-label"> TELÉFONO </label>
                                                      <input id = "txt-telefono" name = "telefono" value = "{{c.telefono}}" class = "form-control" placeholder = "TELÉFONO" />        
                                                    </div> 
                                                  </div>    
                                                  <div class = "form-group row">
                                                    <div class = "col-sm-12">
                                                      <label for = "txt-asunto" class = "form-label"> ASUNTO </label>
                                                      <textarea id = "txt-asunto" name = "asunto" class = "form-control"> {{c.asunto}} </textarea>
                                                    </div> 
                                                  </div>
                                                  <div class = "form-group row">        
                                                      <button type = "submit" style = "margin-top: 15px;" 
                                                        class = "col-sm-3 btn btn-primary"> ENVIAR </button>
                                                  </div>         
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
